<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link href="/static/MyStyle.css" rel="stylesheet" type="text/css"/>
    <title>Album View</title>
</head>
<body>

<form action="/setupAddAlbum" method="post">
  <input type="hidden" name="artistId" th:value="${artistId}">
  <button type="submit">ADD NEW ALBUM</button>
</form>

<table th:if="${!albums.isEmpty()}">
  <thead>
  <tr>
    <th>ID</th>
    <th>ALBUM NAME</th>
    <th>ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="album: ${albums}">
    <td th:text="${album.albumId}"></td>
    <td th:text="${album.albumName}"></td>
    <td>
    <form action="/viewSong" method="post">
      <input type="hidden" name="albumId" th:value="${album.albumId}">
      <button type="submit">See all songs on <span th:text="${album.albumName}"/></button>
    </form>
  </td>
  </tr>
  </tbody>
</table>
<p th:if="${albums.isEmpty()}">No albums by this artist to show at the moment...</p>
</body>
</html>